.noteContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    transition: all 3s;
}



.noteContainer .errorNotification, .succesNotification{
    margin-bottom: 50px;
}

.succesNotification, .errorNotification{
    width: 340px;
    height: 120px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    top: 130px;
    left: -400px;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    transition: all 3s;
}

.noteHeader{
    font-size: 1.3em;
}

.succesNotification .noteHeader{
    color: #3fa837;
}

.errorNotification .noteHeader{
    color: #cb2727;
}

.line{
    width: 100%;
    height: 2px;
}

.succesNotification .line{
    background-color: #067a23;
}

.errorNotification .line{
    background-color: #cb2727;
}

.noteMessage{
    color: #fff;
    font-size: 0.9em;
    margin-top: 10px;
}

.cooldown{
    position: fixed;
    height: 6px;
    width: 300px;
    
    bottom: 6px;
    left: 0;
    border-radius: 50px;
}

.succesNotification .cooldown{
    background-color: #067a23;
}

.errorNotification .cooldown{
    background-color: #cb2727;
}

@keyframes noteMoveUp{
    0%{left: -400px;}
    100%{left: 40px;}
}

@keyframes noteMoveDown{
    0%{left: 40px;}
    100%{left: -400px;}
}

@keyframes cooldownMove{
    0%{width: 0px;}
    100%{width: 300px;}
}